sudo: false

before_install: gem install bundler

rvm:
  - 1.8.7-head
  - 1.9.3-p551
  - 2.0.0-p648
  - 2.1.10
  - 2.2.6
  - 2.3.3
  - 2.4.0-preview3
  - jruby-19mode
  - ruby-head
  - jruby-head

matrix:
  fast_finish: true
  allow_failures:
    - rvm: jruby-19mode
    - rvm: jruby-head
    - rvm: ruby-head
    - rvm: 2.4.0-preview3
