name: Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby-version: [2.6, 2.7, '3.0', 3.1, 3.2, jruby-9.2, jruby-9.3, jruby-9.4, ruby-head, jruby-head]

    name: Specs - Ruby ${{ matrix.ruby-version }}
    steps:
    - name: Set git to master
      run: git config --global init.defaultBranch master
    - uses: actions/checkout@v3
    - name: Set up Ruby ${{ matrix.ruby-version }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true # 'bundle install' and cache
        rubygems: latest
    - name: Run tests
      run: bundle exec rake
